*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: grey;
    margin: 0 30px;
    padding: 30px;
}
/* header css */
.login{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.login>div{
    width: 25%;
    /* debug */
    background-color: yellow;
    height: 25px;
    border: 1px solid black;
}
#info{
    width: 50%;
}
.dowload{
    width: 50%;
    margin: 0 25%;
    /* debug */
     background-color: red;
     height: 300px;
}
/* css main */
main>.main-box{
    display: flex;
}
.main-box>div{
    width: calc(100% /3);
    background-color: aqua;
    border: 1px solid black;
}
.main-box>.descrition{
    width: calc((100%/3)*2);
    height: 150px ;
}
.main-box:nth-child(2){
    flex-direction: row-reverse;
}
.end-main>div{
    height: 150px;
    background-color: violet;
}
/* css footer */
.info-page{
   
    display: flex;
}
.info-page>div{ 
    border: 1px solid black;
    background-color: chartreuse;
    width: calc(100% /6);
    height: 300px;
}
.info-page>.language{
    width: calc((100% / 6)*2);
}
/* css footer end */
.end{
    background-color: yellow;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.end>div{
    border: 1px solid black;
}
