* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 30px;
}
section {
  padding: 15px 30px;
}
/* header css */
header > section {
  background-color: violet;
}
.login {
  background-color: aqua;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.login > div {
  width: 25%;
  /* debug */
  background-color: yellow;
  height: 25px;
  border: 1px solid black;
}
#info {
  width: 50%;
}
.dowload {
  width: 50%;
  margin: 0 25%;
  /* debug */
  background-color: red;
  height: 300px;
}
/* css main */
main > .main-box {
  display: flex;
}
.main-box > div {
  width: calc(100% / 3);
  background-color: aqua;
  border: 1px solid black;
}
.main-box > .descrition {
  background-color: green;
  width: calc((100% / 3) * 2);
  height: 150px;
}
.main-box:nth-child(2) {
  flex-direction: row-reverse;
}
.end-main > div {
  height: 150px;
  background-color: violet;
}
main > section:nth-of-type(even) {
  background-color: grey;
}
/* css footer */
/* css info-page general */
.info-page {
  display: flex;
}
.info-page > .language {
  width: calc((100% / 6) * 2);
}
.info-page > div {
  width: calc(100% / 6);
}
footer {
  background-color: rgb(35, 39, 42);
}
/* css language */
.language {
  padding: 1% 10%;
  line-height: 35px;
}
.language > h3 {
  font-size: xx-large;
  color: rgb(53, 82, 179);
}
.language > select {
  border: none;
  background-color: transparent;
  color: white;
  font-size: large;
}
.language option {
  background-color: rgb(35, 39, 42);
}
.language > i {
  color: white;
  margin-right: 5px;
  font-size: larger;
}
/* footer list */
footer ul {
  list-style: none;
  margin: 5% 25%;
}
li > strong {
  color: rgb(53, 82, 179);
  font-size: large;
}
footer li {
  margin: 10% auto;
  color: white;
}

/* css footer end */

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}
.end button {
  color: white;
  border-radius: 35%;
  padding: 5px;
  background-color: rgb(142, 161, 225);
}
