* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 15px 30px;
}
/* header css */
/* prima sezione header */
header {
  background-color: rgb(14, 143, 143);
  font-size: larger;
}
.login {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.login > div {
  width: calc(100% / 4);
}
.login > .info {
  width: calc((100% / 4) * 2);
}
.info > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login button {
  float: right;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
  border: none;
}
/*  seconda section header */

.dowload {
  margin: 0 25%;
  text-align: center;
  color: white;
}
.dowload > p,
.dowload > button {
  margin-top: 30px;
}
.dowload > button {
  color: black;
  background-color: white;
  border-radius: 25px;
  border: none;
  padding: 10px;
}
.dowload > button:nth-of-type(2) {
  color: white;
  background-color: rgb(35, 39, 42);
}
/* css main */
main > .main-box {
  display: flex;
}
main > section:nth-of-type(even) {
  background-color: rgb(246, 246, 246);
}
.main-box > div {
  width: calc(100% / 3);
  background-color: aqua;
  border: 1px solid black;
}
.main-box > .descrition {
  background-color: green;
  width: calc((100% / 3) * 2);
  height: 150px;
}
.main-box:nth-of-type(2) {
  flex-direction: row-reverse;
}
/*  end section main */
.end-main > div {
  text-align: center;
}
.end-main p,
.end-main img {
  margin: 20px 20%;
  font-size: medium;
}
.end-main h3,
.end-main button {
  margin-bottom: 20px;
}
.end-main button {
  color: white;
  background-color: rgb(142, 161, 225);
  border-radius: 25px;
  border: none;
  padding: 10px;
}
/* wave background  */
.wave {
  position: relative;
  height: 100px;
}
.wave:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/wave.png);
  background-repeat: no-repeat;
}
.wave:nth-of-type(even) {
  transform: rotate(180deg);
}
/* css footer 
 css info-page general */
.info-page {
  display: flex;
}
.info-page > .language {
  width: calc((100% / 6) * 2);
}
.info-page > div {
  width: calc(100% / 6);
}
footer {
  background-color: rgb(35, 39, 42);
}
/* css language */
.language {
  padding: 1% 10%;
  line-height: 35px;
}
.language > h3 {
  font-size: xx-large;
  color: rgb(53, 82, 179);
}
.language > select {
  border: none;
  background-color: transparent;
  color: white;
  font-size: large;
}
.language option {
  background-color: rgb(35, 39, 42);
}
.language > i {
  color: white;
  margin-right: 5px;
  font-size: larger;
}
/* footer list */
footer ul {
  list-style: none;
  margin: 5% 25%;
}
li > strong {
  color: rgb(53, 82, 179);
  font-size: large;
}
footer li {
  margin: 10% auto;
  color: white;
}

/* css footer end */

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}
.end button {
  color: white;
  border-radius: 25px;
  padding: 5px;
  background-color: rgb(142, 161, 225);
}
